asgiref==3.3.4
attrs==21.2.0
autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cors==1.0.1
Django==3.2.2
django-cors-headers==3.7.0
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
drf-spectacular==0.16.0
filelock==3.0.12
flake8==3.9.2
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
idna==2.10
inflection==0.5.1
jdatetime==3.6.2
jsonschema==3.2.0
mccabe==0.6.1
pdfkit==0.6.1
Pillow==8.2.0
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.1.0
pyrsistent==0.17.3
PySocks==1.7.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-file==1.5.1
six==1.16.0
sqlparse==0.4.1
tldextract==3.1.0
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.5
zope.event==4.5.0
zope.interface==5.4.0
